/*  your css code here. If applicable */
.container{
	padding:30px;
	background-color:#f5f5f5;
	display:flex;
	flex-direction: column;
	align-content:space-around;
}
.container div{
	margin-bottom:20px;
	padding:15px;
	background-color:white;
	border-style:groove;
}
.child .para{
	padding:0px;
	margin:0px;
	text-align:center;
	float:right;
}